@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>FIDOREST系统管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="systemName" name="系统名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="FidoRestSystem.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="menuTableToolbar" role="group">
                            @if(shiro.hasPermission("/menu/add")){
                                <#button name="添加" icon="fa-plus" clickFun="FidoRestSystem.openAddSystem()"/>
                            @}
                            @if(shiro.hasPermission("/menu/edit")){
                                <#button name="修改" icon="fa-edit" clickFun="FidoRestSystem.openChangeSystem()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/menu/remove")){
                                <#button name="删除" icon="fa-remove" clickFun="FidoRestSystem.delSystem()" space="true"/>
                            @}
                        </div>
                        <#table id="FidoRestSystemTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/fidorest/system/fidorest_system.js"></script>
@}
