@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="relyPartyInfoForm">

            <input type="hidden" id="id" value="${wayFido2RelyParty.id}">

            <div class="row">
                <div class="col-sm-12" style="width:90%;">
                    <#input id="rpName" name="依赖方名称" underline="true" value="${wayFido2RelyParty.rpName}"/>
                    <#input id="rpId" name="rpId" underline="true" value="${wayFido2RelyParty.rpId}" />
                    <#input id="origins" name="origins" underline="true" value="${wayFido2RelyParty.origins}" />
                </div>
            </div>
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure2" icon="fa-check"
                    clickFun="RelyPartyInfoDlg.updateRelyParty()"/>
                    <#button btnCss="danger" name="取消" id="cancel2" icon="fa-eraser"
                    clickFun="RelyPartyInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/fidorest/rely_party/rely_party_info.js"></script>
@}