@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>FIDOREST依赖方管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="rpName" name="依赖方名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="FidoRestRelyParty.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="menuTableToolbar" role="group">
                            @if(shiro.hasPermission("/menu/add")){
                            <#button name="添加" icon="fa-plus" clickFun="FidoRestRelyParty.openAddRelyParty()"/>
                            @}
                            @if(shiro.hasPermission("/menu/edit")){
                            <#button name="修改" icon="fa-edit" clickFun="FidoRestRelyParty.openChangeRelyParty()"
                            space="true"/>
                            @}
                            @if(shiro.hasPermission("/menu/edit")){
                            <#button name="更新Token" icon="fa-edit"
                            clickFun="FidoRestRelyParty.openChangeRelyPartyToken()"
                            space="true"/>
                            @}
                            @if(shiro.hasPermission("/menu/remove")){
                            <#button name="删除" icon="fa-remove" clickFun="FidoRestRelyParty.delRelyParty()"
                            space="true"/>
                            @}
                        </div>
                        <#table id="FidoRestRelyPartyTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/fidorest/rely_party/rely_party.js"></script>
@}
