@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>版本管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#SelectCon id="softType" name="软件类型">
                                	<option value="0">全部</option>
									<option value="1">客户端App-SAFE</option>
									<option value="2">客户端App-NORMAL</option>
									<option value="3">设备固件-SAFE</option>
									<option value="4">设备固件-NORMAL1</option>
									<option value="5">设备固件-NORMAL3</option>
								</#SelectCon>
                            </div>
                            <div class="col-sm-2">
                                <#button name="搜索" icon="fa-search" clickFun="SoftType.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="SoftTypeTableToolbar" role="group">
                            <#button name="添加APP" icon="fa-plus" clickFun="SoftType.addSoft()"/>
                            <#button name="删除" icon="fa-remove" clickFun="SoftType.delSoft()" space="true"/>
                        </div>
                        <#table id="SoftTypeTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/system/version/version.js"></script>
@}