<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.stylefeng.guns.modular.system.dao.WayAccessoryModelChipMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.stylefeng.guns.modular.system.model.WayAccessoryModelChip">
		<id column="id" property="id" />
		<result column="chip_number" property="chipNumber" />
		<result column="chip_brand" property="chipBrand" />
		<result column="chip_type" property="chipType" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<select id="selectWayAccessoryModelChipByChipNumber"
		resultType="com.stylefeng.guns.modular.system.model.WayAccessoryModelChip">
		SELECT * FROM way_accessory_model_chip WHERE chip_number =
		#{chipNumber} and status =#{status}
	</select>

	<select id="selectByChipNumber"
		resultType="com.stylefeng.guns.modular.system.model.WayAccessoryModelChip">
		select * from way_accessory_model_chip
		where
		chip_number =
		#{chipNumber}
	</select>

</mapper>
